$--primary-color: #f9e6e6;
$--secondary-color: #ebacac;
$--white-color: #ffffff;
$--white-1-color: #f8f8f8;
$--white-2-color: #fafafa;
$--white-67-color: rgba(255, 255, 255, 0.67);
$--darkish-purple-1-color: #78246d;
$--darkish-purple-2-color: #6f2e6d;
$--black-color: #000000;
$--red-color: #ff0000;
$--brown-color: #b98b3c;
$--blue-color: #007aff;
$--green-color: #4cd964;
$--gray-1-color: rgba(248, 248, 248, 0.82);
$--gray-2-color: rgba(142, 142, 147, 0.12);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$--font: 'OpenSans', sans-serif;